In [30]:
t=()
print(type(t))

<class 'tuple'>

In [31]:
my_data=(11,33,22,44,55,66,77,88,99)
print(my_data)
print(my_data[7])#indexing
print(my_data[2:5])#slicing

(11, 33, 22, 44, 55, 66, 77, 88, 99)
88
(22, 44, 55)

In [32]:
print(my_data[4:-1])
print(my_data[:])
print(my_data[0::2])
len(my_data)
my_data.count(33)
print(44 in my_data)

(55, 66, 77, 88)
(11, 33, 22, 44, 55, 66, 77, 88, 99)
(11, 22, 55, 77, 99)
True

In [33]:
my_data2=(33,44,66)
final_data=my_data+my_data2
print("combine data",final_data)

combine data (11, 33, 22, 44, 55, 66, 77, 88, 99, 33, 44, 66)

In [34]:
print(min(final_data))
print(max(final_data))
print(sum(final_data))
print(sorted(final_data))

11
99
638
[11, 22, 33, 33, 44, 44, 55, 66, 66, 77, 88, 99]

In [35]:
#type convertion
my_list=[1,2,3,4,5]
print(type(my_list))
print(my_list)
tu=tuple(my_list)
print(type(tu))
print(tu)
li=list (tu)
print(li)
print(type(li))

<class 'list'>
[1, 2, 3, 4, 5]
<class 'tuple'>
(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
<class 'list'>

In [37]:
tp=(11,22,33,44,55)
print(type(tp))
tu=list(tp)
print(type(tu))
tu[2]=100
print(tu)
print(tuple(tu))

<class 'tuple'>
<class 'list'>
[11, 22, 100, 44, 55]
(11, 22, 100, 44, 55)